#name {
}
#email {
}
#message {
}

.write-me {
    width: 400px;
    margin: 0 auto;
}
.write-me__container.container {
}

.write-me__title {
margin-bottom: 80px;
}
.write-me__form.form {
}


